{% extends "base.html" %}

{% block content %}

<div class="home-container">

    <div class="hero">
        <h1>Smart City Waste Management System</h1>
        <p>AI Powered Waste Monitoring and Prediction Platform</p>
    </div>

    <div class="module-grid">

        <a href="/dashboard" class="module-card">
            <i class="fa-solid fa-chart-line"></i>
            <h2>Dashboard</h2>
            <p>View waste analytics</p>
        </a>

        <a href="/map" class="module-card">
            <i class="fa-solid fa-map-location-dot"></i>
            <h2>Live Map</h2>
            <p>View live waste bin locations</p>
        </a>

        <a href="/prediction" class="module-card">
            <i class="fa-solid fa-robot"></i>
            <h2>AI Prediction</h2>
            <p>Predict future waste levels</p>
        </a>

        <a href="/complaints-page" class="module-card">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <h2>Complaints</h2>
            <p>Register and track complaints</p>
        </a>

        <a href="/bins-page" class="module-card">
            <i class="fa-solid fa-trash"></i>
            <h2>Bin Management</h2>
            <p>Add and manage waste bins</p>
        </a>

    </div>

</div>

{% endblock %}